<html>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <h1>DrawPiy by JOE</h1>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <label for="commands">COMMAND FILE</label>
            <input type="file" name="commands" accept=".hpgl"/>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>